<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Async JS</title>
</head>

<body>
  <script>      
    var recipes = {{ recipes|tojson }};       // convert info using tojson filter      
    console.log(`recipe_t JS ${recipes[0]['ri_name']} - inline CONCLUDED`);  // sanity check      
    var hp_data = {{ helper_data|tojson }};       // convert info using tojson filter      
    console.log(`hp_data JS ${hp_data['vocab'][40]} - inline CONCLUDED`);  // sanity check      
  </script>
  <!--<script src="static/callbacks.js"></script>-->  
  <!--<script src="static/promises.js"></script>-->
  <!--<script src="static/promises_promises.js"></script>-->
  <script src="static/promises_promises.js"></script>
</body>

</html>
