{% extends 'nav_buttons_thin.html' %}

{% block header %}
<style>
    .repo-outer {
      margin-bottom:5px;
    }
    
    .repo-outer ul{
      list-style: none;
      padding-left: 10px;
      margin-top:0px;
      margin-bottom:5px;
    }
    
    .repo-inner {
      display: flex;
      background:#f4f4f4;
      padding:5px;
      margin-bottom:0px;
    }
    
    .changes_to_commit {
      background:#F99DB9;
    }
    .not_staged {
      background:#F6B2F7;
    }
    .untracked {
      background:#C4C6FF;
    }

    .repo-output-info {
      display: flex;          /*removing flex lays inner cards in rows - looks neat!*/
      padding:10px;
      margin-bottom:0px;
    }    
    
    .repo-output-parked {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom:0px;
    }

    .rop-heat-blue {
      background:#3E9DE0;
    }

    .rop-heat-green {
      background:#59AF1C;
    }

    .rop-heat-amber {
      background:#E8BA3E;
    }

    .rop-heat-red {
      background:#FF3881;
    }
        
    .repo-inner ul{
      list-style: none;
      padding-left: 10px;
      margin-top:0px;
      margin-bottom:5px;
    }
    
    .card ul{
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .card {
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .card-header {
      padding-top: 0px;
      padding-bottom: 0px;      
    }
    
    .next-step-info {
      padding-left: 20px;
      background:#C6C6C6;
    }
    
    p {
      margin-bottom: 0;
    }
    
</style>
<script>
  var repoData = {{ repo_data|tojson }};       // convert info using tojson filter
</script>
{% endblock %}

{% block content %}
  

  <div class='container'>
    <!--<div class="container-fluid">-->
    <div class="d-flex">
      <button class="btn btn-primary mr-4" id='button-fetch-get'>Fetch GET</button>
      <button class="btn btn-info mr-4" id='button-fetch-post'>Fetch POST</button>
      <button class="btn btn-warning mr-4" id='button-git-status'>GIT STATUS</button>
      <button class="btn btn-success mr-4" id='button-git-ai1'>GIT ALL in 1</button>
    </div>
    <div id="simple-output">Basic feedback for user</div>
    <br>
    <div id="repos"></div>
  </div>

  <hr>
  
  <!--example of target output-->
  <div class='container card repo-outer'>            
    <div class="card-header">
      <h5 id='00_example_tile'>Repo: 00_example</h5>
      <p id='00_example_desc'>This is what we're aiming to create using JS & returned data:</p>
    </div>
    
    <div class="repo-output-info rop-heat-red">
      <div id="00_example" class="repo-inner rop-heat-red">
        <div class='card changes_to_commit'>
          <ul id="00_example_ul_changes_to_commit">
            <li>CHANGES_TO_COMMIT: 2</li>
            <li>README.md</li>
            <li>templates/index.html</li>
          </ul>
        </div>
        <div class='card not_staged'>
          <ul id="00_example_ul_not_staged">
            <li>NOT_STAGED: 3</li>
            <li>README.md</li>
            <li>templates/index.html</li>
            <li>holy.grail</li>
          </ul>
        </div>
        <div class='card untracked'>
          <ul id="00_example_ul_untracked">          
            <li>UNTRACKED: 1</li>
            <li>deep_in_the_bowels/nutrients.html</li>
          </ul>
        </div>
      </div>      
    </div>    
    <div class="next-step-info">
      <h8><b>Next Steps</b></h8>
      <p id="00_example_next_text">Order repos by last touch:<br>Get next steps & status colour & reason from context.md<br>Set background colour according to status (Use blue for parked)<br>Report next steps in card - repo report</p>
    </div>
  </div>
  
  <hr>
  
  <div class="container card repo-outer">                                        
    <div class="card-header">
      <h5 id="00_flask_tile">Repo: 00_flask</h5>
      <p id="00_flask_desc">Flask tutorial - newbie level</p>
    </div>

    <div id="repo-output">
        <div id="00_flask" class="repo-output-warn">
          <div class="card changes_to_commit">
              <ul id="00_flask_ul_changes_to_commit">
                <li>CHANGES_TO_COMMIT: 1</li>
                <li>README.md</li>
              </ul>
          </div>
          <div class="card not_staged">
              <ul id="00_flask_ul_not_staged">
                <li>NOT_STAGED: 1</li>
                <li>templates/index.html</li>
              </ul>
          </div>
          <div class="card untracked">
            <ul id="00_flask_ul_untracked">
              <li>UNTRACKED: 3</li>
              <li>antenna_physics.txt</li><li>plasmaContainment.xls</li><li>stelarator.arxiv</li>
            </ul>
          </div>
        </div>
    </div>
    
  
  <script src="static/js_fetch_both_ways_example.js"></script>

  <hr>

{% endblock %}